<h2>Yorumu Düzenle</h2>
<%= form_with(model: [@post, @comment], local: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="actions">
    <%= form.submit "Yorumu Güncelle" %>
  </div>
<% end %>

<% if @comment.user == current_user %> 
  <%= button_to "Yorumu Sil", [@post, @comment], method: :delete, data: { confirm: "Bu yorumu silmek istediğinize emin misiniz?" }, class: "button" %>
<% end %>
