<h2>Yorumu Düzenle</h2>
<%= form_with(model: [@post, @comment], local: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="actions">
    <%= form.submit "Yorumu Güncelle" %>

    <% if @comment.user == current_user %> 
        <%= form_with(model: [@post, @comment], method: :delete, local: true) do |form| %>
            <div class="actions">
                <%= form.submit "Yorumu Sil", data: { confirm: "Bu yorumu silmek istediğinize emin misiniz?" }, class: "button" %>
            </div>
        <% end %>

    <% end %>
  </div>
<% end %>
