
<p>
   <strong>User Name: </strong> 
   <%= current_user.user_name%>
</p>

<p>
   <strong>Profile Photo:</strong>
   <%= image_tag @post.user.profil_photo.url if @post.user.profil_photo.present? %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image.url if @post.image? %>
</p>

<h2>Comments</h2>
<% @post.comments.reverse.each do |comment| %>
  <p>
    <strong><%= comment.user.user_name %>:</strong> <%= comment.content %>
    <% if comment.user == current_user %>
      <%= button_to 'Edit', edit_post_comment_path(@post, comment), method: :get %>

    <% end %>
  </p>
<% end %>


<h2>Leave a comment</h2>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="actions">
    <%= form.submit "Send" %>
  </div>
<% end %>

<%= button_to 'Edit', edit_post_path(@post), method: :get %>
<%= button_to 'Back', posts_path, method: :get %>
